@import url(https://fonts.googleapis.com/css?family=Muli&display=swap);
@media only screen and (max-width: 600px) {
  .main__description--title {
    font-size: 30px;
  }
  .footer {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body {
  font-family: "Muli", sans-serif;
  background: #8f57fd;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}
